scipy
python-dotenv
element-calcium-imaging
element-array-ephys @ git+https://github.com/ttngu207/element-array-ephys.git@chronic_and_acute
element-data-loader @ git+https://github.com/datajoint/element-data-loader.git
scanreader @ git+https://github.com/atlab/scanreader.git
pandas
numpy
astropy
jupyterlab
bitstring